%div{ class: "content-container text-center top-border blue-text #{content&.background ? content&.background : 'transparent'}-bg" }
  .container
    %p.margin-bottom-30
      = kramdown(content.text)
    = link_to "Download PDF", content.link, class: "comparison-download-btn shadow cta-btn"
